@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cabecalho {
    @apply bg-slate-800 text-white font-bold py-2 px-4 text-center text-4xl;

    & ul{
        @apply flex flex-row text-lg;
        
        & li{
            @apply mx-auto;

            & a{
                @apply block  hover:bg-amber-400 py-1 px-3 rounded-md transition duration-300 ease-out;
            }
        }
    }
  }

  .rodape {
    @apply fixed w-full bottom-0 bg-slate-800 text-white font-bold py-2 px-4 text-center text-lg;
            & a{
                @apply block  hover:bg-amber-400 py-1 px-3 rounded-md transition duration-300 ease-out;
            }
        
    }

}
